body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/*hero section*/

.flex_area {
    display: flex;
    margin-bottom: 160px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 35px;
}

.color-text {
    color: #ee533e
}

.half-part {
    width: 50%;
    padding-left: 70px;
}

img {
    width: 70%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-image: linear-gradient(#ee533e, #f1b00c);
    padding: 10px 40px;
    border-radius: 5px;
}

.corner-dot-image {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

/*Dream big*/
.Dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
    
}
/* Experience area*/

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 0ex;
}
.exp-head{
    margin-left: 5%;
}

.shadow{
    box-shadow: 10px 10px 20px rgb(212, 208, 208);
    width:40%;
    margin-left:5%;
    margin-right: 4%;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-left: solid 7px  #ee533e;
    border-radius: 10px;
    
    
}

